/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body, #__next, .main {
  width: 100%;
  height: 100%; }

.main {
  background-color: #fafafc; }

.page-container {
  position: relative;
  max-width: 1160px;
  margin: 30px auto; }

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0; }

.content-container {
  margin-left: 250px; }

.content {
  position: relative; }
  .content .manage-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 540px; }
  .content .preview-container {
    width: 340px;
    margin-left: 570px;
    height: 604px;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538243553942&di=f701531a52ad855df145e0bbb2aec54b&imgtype=0&src=http%3A%2F%2Fimgsa.baidu.com%2Fexp%2Fw%3D500%2Fsign%3Dc6491685983df8dca63d8f91fd1072bf%2F0e2442a7d933c89567c58009d61373f08202000c.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }

.side-tag {
  position: relative;
  width: 220px;
  margin-bottom: 10px;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.1), -3px 2px 20px rgba(0, 0, 0, 0.1); }
  .side-tag .title {
    padding: 24px 40px;
    width: 100%;
    height: 100px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #646466; }
  .side-tag .button {
    width: 100%;
    height: 40px;
    background-color: #646466;
    color: #ffffff;
    font-size: 14px;
    padding-left: 40px;
    line-height: 40px; }
  .side-tag .tag {
    position: absolute;
    left: 20px;
    top: 0;
    width: 14px;
    height: 14px;
    background-color: #646466; }
    .side-tag .tag::before, .side-tag .tag::after {
      position: absolute;
      bottom: -3px;
      width: 0;
      height: 0;
      border-style: solid; }
    .side-tag .tag::before {
      content: "";
      border-width: 3px 7px 0 0;
      border-color: #646466 transparent transparent;
      left: 0; }
    .side-tag .tag::after {
      content: "";
      border-width: 0 7px 3px 0;
      border-color: transparent #646466 transparent transparent;
      right: 0; }

.sidebar-box {
  width: 220px;
  overflow: hidden;
  color: #646466;
  margin-bottom: -4px; }
  .sidebar-box .menu {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0 40px;
    margin-bottom: 4px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 60px;
    cursor: pointer; }
    .sidebar-box .menu.active::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 27px;
      width: 0;
      height: 14px;
      border-radius: 2px;
      border-left: 4px solid #646466; }

.header {
  width: 100%;
  height: 60px;
  background-color: #646466; }

.pl-title-card {
  width: 100%;
  padding: 25px 30px;
  color: #646466;
  background: #ffffff;
  overflow: hidden; }
  .pl-title-card .title {
    float: left;
    font-size: 18px;
    font-weight: bold; }
  .pl-title-card .desc {
    float: left;
    width: 278px;
    margin-left: 39px;
    font-size: 14px; }

/*# sourceMappingURL=style.css.map*/