.content {
  position: relative;
  .manage-container {
    position: absolute;
    top: 0;
    left: 0;
    width: $manageWidth;
  }
  .preview-container {
    width: 340px;
    margin-left: $manageWidth + 30px;
    height: 604px;
    background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538243553942&di=f701531a52ad855df145e0bbb2aec54b&imgtype=0&src=http%3A%2F%2Fimgsa.baidu.com%2Fexp%2Fw%3D500%2Fsign%3Dc6491685983df8dca63d8f91fd1072bf%2F0e2442a7d933c89567c58009d61373f08202000c.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}