.sidebar-box {
  width: $sidebarWidth;
  overflow: hidden;
  color: $mainTextColor;
  margin-bottom: -5px;
  .menu {
    position: relative;
    padding: 18px 26px;
    margin-bottom: 5px;
    background-color: $boxColor;
    cursor: pointer;
    &.active::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 18px;
      width: 0;
      height: 12px;
      border-left: 3px solid #646466;
    }
  }
}